<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Damien Mullet">
    <meta name="description" content="Workout Planner Pro - Plan and track your workout routines">
    <title>{% block title %}FitBrigade{% endblock %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Oswald:wght@500;700&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <div class="container">
            <a href="/" class="nav-logo">FitBrigade 2.0</a>

            <!-- BOUTON BURGER -->
            <button class="burger-menu" id="burgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <!-- MENU -->
            <ul class="mobile-menu" id="mobileMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/create_workout">Create Workout</a></li>
                <li><a href="/workouts">My Workouts</a></li>
                <li><a href="/create_goal">Create Goal<span class="nav-new">NEW</span></a></li>
                <li><a href="/goals">My Goals<span class="nav-new">NEW</span></a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2026 FitBrigade 2.0 - Damien Mullet</p>
        </div>
    </footer>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>